.btn {
  outline: none;
  border: 2px solid $orange;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  &:hover {
    background-color: $orange;
    color: $white;
  }
  &__welcome {
    text-transform: uppercase;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 10px;
  }
  &__service {
    color: $orange;
    width: 100%;
    max-width: 161px;
    height: 50px;
  }
  &__prices {
    width: 162px;
    height: 50px;
    color: $orange;
  }
}